[user]
  name = Scott Brewerton
  email = scott.brewerton@org.dom
  signingkey = 0EDF66D83447A2D4A02FB03D2737ED0C5F9C5CAC

[core]
  excludesfile = /Users/scottbrewerton/.gitignore_global
  editor = vi
  pager = less

[branch]
  sort = -committerdate

[tag]
  sort = version:refname

[init]
  defaultBranch = main

[commit]
  gpgsign = false

[push]
  default = simple
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTags = true
  all = true

[diff]
  algorithm = histogram
  colorMoved = plain
  mnemonicPrefix = true
  renames = true

[difftool "sourcetree"]
  cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh "$LOCAL" "$REMOTE" -ancestor "$BASE" -merge "$MERGED"
  trustExitCode = true

[pager]
  branch = false
  status = false

[alias]
  s = 'status'
  empty = 'git commit --allow-empty'
  pul = 'pull'
  unstage = 'reset HEAD --'
  last = 'log -1 HEAD'
  slog = log --graph --all --topo-order --pretty='format:%h %ai %s%d (%an)'
  one = log --graph --decorate --pretty=oneline --abbrev-commit
  when = log --pretty='format:%h %ai %s%d (%an)' --diff-filter=A -- $1
