# Navigation
alias ~="cd ~"
alias home="cd ~"
alias ..="cd .."
alias ls="ls -aF"
alias ll="ls alF"
alias repo="cd ~/repos"
alias repos="cd ~/repos"
alias tree="find . -print | sed -e 's;[^/]*/;|____;g;s;____|; |;g'"

# DNS
alias xip="dig +short myip.opendns.com @resolver1.opendns.com"
alias flush='dscacheutil -flushcache'

# Networking

# Reload .zshrc
alias zreload="source $HOME/.zshrc"

# AWS
alias awslogon="saml2aws login -a and"

# Git
alias one='git one'
alias slog='git slog'

# Kubernetes
alias k="kubectl $@"
alias ctx="kubectx"

# Powershell
#alias powershell="pwsh"

# Terraform
alias tf="terraform version"
alias t="terraform"
alias fmt="find ./ -type f -maxdepth 9 -iname '*.tf' -exec terraform fmt "{}" \;"

# Docker
alias d="docker"
alias dps= "docker ps"

# ARM brew vs Intel brew
alias abrew="/opt/homebrew/bin/brew"
alias ibrew="/usr/local/Homebrew/bin/brew"
alias brew="/opt/homebrew/bin/brew"
alias cask="abrew outdated --cask --greedy"
alias casks="abrew outdated --cask --greedy"

# Snowflake SQL CLI client
alias snowsql=/Applications/SnowSQL.app/Contents/MacOS/snowsql

# Markdown files
alias -s md=code

# JSON files
alias -s json=code
