[user]
  name = Scott Brewerton
  email = scott.brewerton@work.org

[core]
  excludesfile = /Users/scottbrewerton/.gitignore_global
  editor = /usr/bin/vi -f
  pager = less

[init]
  defaultBranch = main

[commit]
  gpgsign = false

[fetch]
  prune = true

[push]
  autoSetupRemote = true

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
  path =

[mergetool "sourcetree"]
  cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh "$LOCAL" "$REMOTE" -ancestor "$BASE" -merge "$MERGED"
  trustExitCode = true

[difftool "sourcetree"]
  md = opendiff \"$LOCAL\" \"$REMOTE\"
  path = 

[pager]
  branch = false
  status = false

[alias]
  s = 'status'
  empty = 'git commit --allow-empty'
  pul = 'pull'
  unstage = 'reset HEAD --'
  last = 'log -1 HEAD'
  slog = log --graph --all --topo-order --pretty='format:%h %ai %s%d (%an)'
  one = log --graph --decorate --pretty=oneline --abbrev-commit
