# enable color support of ls and also add handy aliases
if [ -x /usr/bin/dircolors ]; then
    test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
    alias ls='ls -aF'
    alias psh='pwsh'
    alias python='/usr/bin/python3'
    alias pip='/usr/bin/pip3'
    alias k='kubectl'
    alias tf='terraform version'
    alias tf1224='ln -f -s /home/scott/terraform/terraform1224 /home/scott/terraform/terraform'
    alias tf1229='ln -f -s /home/scott/terraform/terraform1229 /home/scott/terraform/terraform'
    alias tf134='ln -f -s /home/scott/terraform/terraform134 /home/scott/terraform/terraform'
    alias tf135='ln -f -s /home/scott/terraform/terraform135 /home/scott/terraform/terraform'
    alias work='cd ~/Work'
    alias nmap='"/c/Program Files (x86)/Nmap/nmap.exe"'
    #alias ls='ls --color=auto'
    #alias dir='dir --color=auto'
    #alias vdir='vdir --color=auto'

    alias grep='grep --color=auto'
    alias fgrep='fgrep --color=auto'
    alias egrep='egrep --color=auto'
fi

# some more ls aliases
alias ll='ls -alF'
alias la='ls -A'
alias l='ls -CF'
alias xip='dig +short myip.opendns.com @resolver1.opendns.com'
alias ctx='kubectx'

# Navigation
alias ~="cd ~"
alias home="cd ~"
alias ..="cd .."
alias ls="ls -aF"
alias ll="ls alF"
alias repo="cd ~/repos"
alias repos="cd ~/repos"

# DNS
alias xip="dig +short myip.opendns.com @resolver1.opendns.com"
alias flush='dscacheutil -flushcache'

# Networking

# AWS
alias awslogon="saml2aws login -a and"

# Git
alias one='github one'
alias slog='github slog'

# Kubernetes
alias k="kubectl $@"
alias ctx="kubectx"

# Terraform
alias tf="terraform version"
alias t="terraform"
alias fmt="find ./ -type f -maxdepth 9 -iname '*.tf' -exec terraform fmt "{}" \;"

# Docker
alias d="docker"
alias dps= "docker ps"

# Snowflake SQL CLI client
alias snowsql=/Applications/SnowSQL.app/Contents/MacOS/snowsql

# Markdown files
alias -s md=code

# JSON files
alias -s json=code
